<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="copyright">© 2016 <a href="/">DoTask</a> Все права защищены
            </div>
            <!-- <div class="payment">
                <span class="payment-icon visa"/>Visa</span>
                <span class="payment-icon mastercard">MasterCard</span>
                <span class="payment-icon yamoney">Yandex.Money</span>
                <span class="payment-icon webmoney">WebMoney</span>
                <span class="payment-icon qiwi">Qiwi Wallet</span>
            </div> -->
            <div class="soc_button">
                <a href="#">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
