<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>DoTask</title>
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="stylesheet" href="libs/bootstrap.min.css"/>
    <link rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/media.css" />
</head>
<body>
<header class="top_header">
    <div class="header_topline">
        <div class="container">
            <div class="row">
                <div class="col-md-1 logo-container">
                    <img src="img/logo.png" alt="Логотип" class="logo">
                </div>
                <div class="col-md-9">
                    <% if(role) { %>
                        <div class="navigation">
                            <nav class="main_mnu clearfix">
                                <ul>
                                    <li><a class="active" href="">Главная</a></li>
                                    <li><a href="app.html">Мои заказы</a></li>
                                    <li><a href="">Баланс</a></li>
                                    <li><a href="">Помощь</a></li>
                                </ul>
                            </nav>
                        </div>
                    <% } else if(role) { %>
                        <div class="navigation">
                            <nav class="main_mnu clearfix">
                                <ul>
                                    <li><a class="active" href="">Главная</a></li>
                                    <li><a href="app.html">Биржа заказов</a></li>
                                    <li><a href="">Мои заказы</a></li>
                                    <li><a href="">Баланс</a></li>
                                    <li><a href="">Профиль</a></li>
                                    <li><a href="">Помощь</a></li>
                                </ul>
                            </nav>
                        </div>
                    <% } %>
                </div>
                <div class="col-md-2 auth">
                    <div class="auth_links">
                        <% if(user) { %>
                            <a id="logout" href="/logout">Выход</a>
                        <% } else { %>
                            <a href="" data-toggle="modal" data-target="#register">Регистрация</a>&nbsp&nbsp
                            <a href="" data-toggle="modal" data-target="#sign">Вход</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>