<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>DoTask</title>
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="favicon.png" />
	<link rel="stylesheet" href="libs/bootstrap.min.css"/>
	<link rel="stylesheet" href="libs/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/fonts.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/media.css" />
</head>
<body>
<div class="row header">
	<div class="col-lg-1">
		<img src="img/logo.png" alt="Логотип" class="logo">
	</div>
	<div class="col-lg-5">
		<div class="navigation">
			<nav class="main_mnu clearfix">
				<ul>
					<li><a class="active" href="/home">Главная</a></li>
					<li><a href="/myorders">Мои заказы</a></li>
					<li><a href="/balance">Баланс</a></li>
					<li><a href="/help">Помощь</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="col-lg-6 header_topline_col">
		<div class="header_topline" style="">
			<a id="logout" href="/logout">Выход</a>
		</div>
	</div>
</div>

<div class="main" style="height: 800px">
	<!--Кабинет заказчика-->

	<!--<ul id="messages"></ul>-->
	<!--<form action="">-->
		<!--<input id="m" autocomplete="off" /><button>Send</button>-->
	<!--</form>-->

<div class="row">
	<div class="left-panel col-lg-2" style="border: 2px solid #eee;">
		<div class="create-order row">
			<div class="col-lg-12">
				<button type="button" class="btn btn-success" style="margin: 10px 0 10px;">СОЗДАТЬ ЗАКАЗ</button>
			</div>
		</div>
		<p>left panel</p>
	</div>

	<div class="center-panel col-lg-8">
		<div class="row">
			<div class="col-lg-12">
				<h4>Размещенные заказы</h4>
			</div>
		</div>
		<div class="order col-lg-12" style="background-color: #f9f9f9; padding: 10px 20px 10px 20px;margin-bottom: 10px;border: 2px solid #eee;">
			<div class="row">
				<div class="col-lg-12">
					<p class="text-center" style="margin: -5px 0 5px;"><a href="">Matlab задание</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<p class="text-center" style="margin: 0">В аукционе</p>
				</div>
				<div class="col-lg-3">
					<p class="text-center" style="margin: 0">30.12.2016</p>
				</div>
				<div class="col-lg-3">
					<p class="text-center"style="margin: 0">2 ставки</p>
				</div>
				<div class="col-lg-3">
					<p class="text-center" style="margin: 0;">нет сообщений</p>
				</div>
			</div>
		</div>
	</div>

	<div class="rigth-panel col-lg-2" style="border: 2px solid #eee;">
		<p>right panel</p>
	</div>
</div>
</div>

<% include footer.ejs %>
<% include footerscript.ejs %>
<script src="/socket.io/socket.io.js"></script>
<script src='/js/common.js'></script>
<script src='/js/home.js'></script>
<script>
	getToken();
//	var socket = io();
//	$('form').submit(function(){
//		socket.emit('chat message', $('#m').val());
//		$('#m').val('');
//		return false;
//	});
//	socket.on('chat message', function(msg){
//		$('#messages').append($('<li>').text(msg));
//	});
</script>
</body>
</html>