<% include header.ejs %>
	<div class="main">
		<img src="img/logo.png" alt="Логотип" class="logo">
		Кабинет исполнителя

	</div>
<% include footer.ejs %>
<% include footerscript.ejs %>
</body>
</html>