<% include header.ejs %>
	<div class="main">
		<img src="img/logo.png" alt="Логотип" class="logo">
		Стартовая страница
	</div>
<% include footer.ejs %>
	<div id="registration" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="gridModalLabel">Регистрация в системе DoTask</h4>
				</div>
				<form class="registration_form">
					<fieldset>
						<div class="modal-body">
							<div class="container-fluid">
								<div class="row">
									<div class="form-group">
										<div class="radio">
											<label><input id="client" type="radio" name="role" value="1" checked>Заказчик</label>
										</div>
										<div class="radio">
											<label><input id="performer" type="radio" name="role" value="2">Исполнитель</label>
										</div>
									</div>
								</div> 
								<div class="row">
									<div class="form-group">
										<label for="login">Логин</label>
										<input type="text" class="form-control" id="login" name="login" placeholder="Логин"></input>
									</div>
								</div> 
								<div class="row">
									<div class="form-group">
										<label for="pwd">Пароль</label>
										<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Пароль"></input>
									</div> 
								</div>	
								<div class="row">
									<div class="form-group">
										<label for="pwdRepeat">Повторите пароль</label>
										<input type="password" class="form-control" id="pwdRepeat" placeholder="Пароль"></input>
									</div> 
								</div>	
								<div class="row">
									<div class="form-group">
										<label for="email">Email</label>
										<input type="text" class="form-control" id="email" name="email" placeholder="Пароль"></input>
									</div> 
								</div>
							</div>
						</div>
					</fieldset>
				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
					<button id="registration_submit" type="submit" class="btn btn-primary" value="submit">Регистрация</button>
				</div>
			</div>
		</div>
	</div>
	<div id="authorization" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="authorizationTitle">Вход в личный кабинет</h4>
			</div>
			<form class="authorization_form">
				<fieldset>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="form-group">
									<label for="login">Логин</label>
									<input type="text" class="form-control" id="login" name="login" placeholder="Логин"></input>
								</div>
							</div> 
							<div class="row">
								<div class="form-group">
									<label for="pwd">Пароль</label>
									<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Пароль"></input>
								</div> 
							</div>	
						</div>
					</div> 
				</fieldset>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
				<button id="authorization_submit" type="submit" class="btn btn-primary" value="submit">Вход</button>
			</div>
		</div>
	</div>
</div>
</div>
<% include footerscript.ejs %>
<script src='/js/index.js'></script>
</body>
</html>